[Desktop Entry]
Name=Golden Ripples
Name[ast]=Rizos doraos
Name[bg]=Златни гребени
Name[bs]=Zlatni valovi
Name[ca]=Rínxols daurats
Name[ca@valencia]=Rínxols daurats
Name[cs]=Zlaté vlnky
Name[da]=Golden Ripples
Name[de]=Güldene Wellen
Name[el]=Golden Ripples
Name[en_GB]=Golden Ripples
Name[es]=Rizos dorados
Name[et]=Kuldne säbru
Name[eu]=Urrezko uhintxoak
Name[fi]=Kultaiset väreet
Name[fr]=Ondes dorées
Name[ga]=Golden Ripples
Name[gl]=Rizos dourados
Name[hu]=Arany hullámok
Name[is]=Gullnar bylgjur
Name[it]=Increspature dorate
Name[ja]=黄金色の波紋
Name[kk]=Алтын шайқалысы
Name[ko]=황금 물결
Name[lt]=Auksinės bangelės
Name[lv]=Zelta vilnīši
Name[mk]=Златни бранувања
Name[nb]=Gyldne krusninger
Name[nds]=Gollen Riffels
Name[nl]=Gulden rimpelingen
Name[nn]=Gylne krusingar
Name[pl]=Złota woda
Name[pt]=Ondas Douradas
Name[pt_BR]=Ondulações douradas
Name[ro]=Unde aurii
Name[ru]=Лужа
Name[sk]=Zlaté vlnky
Name[sl]=Zlato valovanje
Name[sq]=Golden Ripples
Name[sr]=Златасто мрешкање
Name[sr@ijekavian]=Златасто мрешкање
Name[sr@ijekavianlatin]=Zlatasto mreškanje
Name[sr@latin]=Zlatasto mreškanje
Name[sv]=Gyllene krusningar
Name[tr]=Altın Dalgalar
Name[uk]=Золоті брижі
Name[x-test]=xxGolden Ripplesxx
Name[zh_CN]=金色涟漪
Name[zh_TW]=金色漣漪
X-KDE-PluginInfo-Name=Golden_Ripples
X-KDE-PluginInfo-Author=Joseph Connors
X-KDE-PluginInfo-Email=josephconnors@usa.net
X-KDE-PluginInfo-License=LGPLv3
