[Desktop Entry]
Name=Media Life
Name[ar]=حياة الوسائط
Name[ast]=Media Life
Name[bs]=Medijski život
Name[ca]=Vida multimèdia
Name[ca@valencia]=Vida multimèdia
Name[cs]=Media Life
Name[da]=Media Life
Name[de]=Media Life
Name[el]=Media Life
Name[en_GB]=Media Life
Name[es]=Medios de vida
Name[et]=Meediaelu
Name[eu]=Media Life
Name[fa]=زندگی رسانه‌ای
Name[fi]=Mediaelämä
Name[fr]=Vie des média
Name[ga]=Media Life
Name[gl]=Vida nos medios
Name[hu]=Media Life
Name[is]=Lífmiðlun
Name[it]=Nel mezzo del cammin di nostra vita
Name[kk]=Медиа өмірі
Name[km]=Media Life
Name[ko]=미디어 세상
Name[lt]=Media gyvenimas
Name[mr]=मीडिया जीवन
Name[nb]=Medieliv
Name[nds]=Media-Life
Name[nl]=Media Life
Name[nn]=Medieliv
Name[pl]=Życie multimedialne
Name[pt]=Vida Multimédia
Name[pt_BR]=Vida Multimídia
Name[ro]=Media Life
Name[ru]=Медиа-жизнь
Name[sk]=Media Life
Name[sl]=Predstavnostno življenje
Name[sr]=Медијски живот
Name[sr@ijekavian]=Медијски живот
Name[sr@ijekavianlatin]=Medijski život
Name[sr@latin]=Medijski život
Name[tr]=Medya Yaşamı
Name[ug]=ۋاسىتە ھاياتى
Name[uk]=Медіажиття
Name[x-test]=xxMedia Lifexx
Name[zh_CN]=云中天国

X-KDE-PluginInfo-Name=Media_Life
X-KDE-PluginInfo-Author=Eugene Trounev
X-KDE-PluginInfo-Email=eugene.trounev@gmail.com
X-KDE-PluginInfo-License=LGPLv3
