[Desktop Entry]
Name=JK Bridge at Night
Name[ast]=Ponte JK de nueche
Name[bg]=Мостът JK Bridge нощем
Name[bs]=JK most po noći
Name[ca]=Pont JK de nit
Name[ca@valencia]=Pont JK de nit
Name[cs]=Most JK v noci
Name[da]=JK Bridge at Night
Name[de]=Juscelino-Kubitschek-Brücke bei Nacht
Name[el]=JK Bridge at Night
Name[en_GB]=JK Bridge at Night
Name[es]=Puente JK de noche
Name[et]=JK sild öösel
Name[eu]=JK Zubia gauez
Name[fi]=JK-silta yöllä
Name[fr]=Le pont « Kennedy » de nuit
Name[ga]=JK Bridge at Night
Name[gl]=A ponte JK de noite
Name[hu]=A JK Bridge éjjel
Name[is]=JK brúin um nótt
Name[it]=Ponte Juscelino Kubitschek di notte
Name[kk]=Түңгі Кеннеди көпірі
Name[ko]=JK 다리 야경
Name[lt]=JK tiltas naktį
Name[lv]=JK tilts naktī
Name[nb]=JK bru om natta
Name[nds]=JK-Brüch bi Nacht
Name[nl]=JK brug bij nacht
Name[nn]=JK-brua om natta
Name[pl]=Most JK w nocy
Name[pt]=Ponte JK à Noite
Name[pt_BR]=Ponte JK à noite
Name[ru]=Ночной мост
Name[sk]=Most JK v noci
Name[sl]=Most JK ponoči
Name[sq]=Ura JK Gjatë Natës
Name[sr]=Мост Ж.К. у ноћи
Name[sr@ijekavian]=Мост Ж.К. у ноћи
Name[sr@ijekavianlatin]=Most Ž.K. u noći
Name[sr@latin]=Most Ž.K. u noći
Name[sv]=JK-bron på natten
Name[tr]=Geceleyin JK Köprüsü
Name[uk]=Міст Кеннеді вночі
Name[x-test]=xxJK Bridge at Nightxx
Name[zh_CN]=夜晚的 JK 大桥
Name[zh_TW]=夜晚的 JK 橋

X-KDE-PluginInfo-Name=JK_Bridge_at_Night
X-KDE-PluginInfo-Author=Davi Lima
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
