[Desktop Entry]
Name=Beach Reflecting Clouds
Name[ast]=Reflexu de les ñubes na sablera
Name[bg]=Плаж с отразени облаци
Name[bs]=Odsjaj oblaka na plaži
Name[ca]=Núvols reflectits a la platja
Name[ca@valencia]=Núvols reflectits a la platja
Name[cs]=Pláž odrážející mraky
Name[da]=Beach Reflecting Clouds
Name[de]=Am Strand spiegelnde Wolken
Name[el]=Beach Reflecting Clouds
Name[en_GB]=Beach Reflecting Clouds
Name[es]=Playa con reflejos de nubes
Name[et]=Rannapeegeldus pilvedes
Name[eu]=Hondartza hodeiak islatzen
Name[fi]=Pilviä heijastava ranta
Name[fr]=Plage reflétant les nuages
Name[ga]=Beach Reflecting Clouds
Name[gl]=Praia e reflexos de nubes
Name[hu]=Tengerpart felhőkkel
Name[it]=Nuvole riflesse sulla spiaggia
Name[kk]=Жағажай бұлттары
Name[ko]=바다에 비친 구름
Name[lt]=Paplūdimys atspindintis debesis
Name[lv]=Mākoņu atspulgs pludmalē
Name[nb]=Strand med skyrefleks
Name[nds]=Wulken an'n Strand
Name[nl]=Strand met gereflecteerde wolken
Name[nn]=Skyer og strand
Name[pl]=Chmury odbijające plażę
Name[pt]=Nuvens Reflectoras da Praia
Name[pt_BR]=Praia refletindo nuvens
Name[ru]=Отражение облаков на пляже
Name[sk]=Pláž odrážajúca oblaky
Name[sl]=Odboj oblakov na obali
Name[sq]=Beach Reflecting Clouds
Name[sr]=Плажа одражава облаке
Name[sr@ijekavian]=Плажа одражава облаке
Name[sr@ijekavianlatin]=Plaža odražava oblake
Name[sr@latin]=Plaža odražava oblake
Name[sv]=Strand med reflekterade moln
Name[tr]=Sahilde Bulut Yansımaları
Name[uk]=Віддзеркалення хмар на пляжі
Name[x-test]=xxBeach Reflecting Cloudsxx
Name[zh_CN]=海天一线
Name[zh_TW]=海灘上的反射雲

X-KDE-PluginInfo-Name=Beach_Reflecting_Clouds
X-KDE-PluginInfo-Author=Georgia Hobbs
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
