[Desktop Entry]
Name=Atra Dot
Name[bs]=Atra tačka
Name[ca]=Atra Dot
Name[ca@valencia]=Atra Dot
Name[cs]=Atra Dot
Name[da]=Altra Dot
Name[de]=Atra Dot
Name[el]=Atra Dot
Name[en_GB]=Atra Dot
Name[eo]=Atra Dot
Name[es]=Atra Dot
Name[et]=Atra Dot
Name[eu]=Atra Dot
Name[fi]=Atra Dot
Name[fr]=Atra Dot
Name[ga]=Atra Dot
Name[gl]=Atra Dot
Name[hu]=Atra Dot
Name[it]=Punto atro
Name[kk]=Атра нүктесі
Name[ko]=아트라 점
Name[lt]=Atra Dot
Name[lv]=Atra Dot
Name[nb]=Altra Dot
Name[nds]=Atra Dot
Name[nl]=Atra Dot
Name[nn]=Atra-prikk
Name[pl]=Atra Dot
Name[pt]=Atra Dot
Name[pt_BR]=Atra Dot
Name[ru]=Светлые круги
Name[sk]=Atra Dot
Name[sl]=Atra Dot
Name[sq]=Atra Dot
Name[sr]=Атра тачка
Name[sr@ijekavian]=Атра тачка
Name[sr@ijekavianlatin]=Atra tačka
Name[sr@latin]=Atra tačka
Name[sv]=Atra punkt
Name[tr]=Atra Dot
Name[uk]=Точка Атра
Name[x-test]=xxAtra Dotxx
Name[zh_CN]=Atra 点阵
Name[zh_TW]=Atra Dot

X-KDE-PluginInfo-Name=Atra_Dot
X-KDE-PluginInfo-Author=Eugene Trounev [it-s]
X-KDE-PluginInfo-Email=eugene.trouenv@gmail.com
X-KDE-PluginInfo-License=LGPLv3
