[Desktop Entry]
Name=Midnight in Karelia
Name[ast]=Medianueche en Karelia
Name[bg]=Среднощ в Карелия
Name[bs]=Ponoć u Kareliji
Name[ca]=Mitjanit a Carèlia
Name[ca@valencia]=Mitjanit a Carèlia
Name[cs]=Půlnoc v Karélii
Name[da]=Midnat i Karelia
Name[de]=Mitternacht in Karelien
Name[el]=Midnight in Karelia
Name[en_GB]=Midnight in Karelia
Name[es]=Medianoche en Karelia
Name[et]=Südaöö Karjalas
Name[eu]=Gauerdia Karelian
Name[fi]=Karjalan keskiyö
Name[fr]=Minuit à Karelia
Name[ga]=Midnight in Karelia
Name[gl]=Media noite en Karelia
Name[hu]=Éjszaka Karéliában
Name[is]=Miðnætti í Karelíu
Name[it]=Mezzanotte in Carelia
Name[kk]=Карелия түні
Name[ko]=카렐리야의 자정
Name[lt]=Vidurnaktis Karelijoje
Name[lv]=Pusnakts Karēlijā
Name[nb]=Midnatt i Karelen
Name[nds]=Mittnacht in Karelien
Name[nl]=Middernacht in Karelia
Name[nn]=Midnatt i Karelen
Name[pl]=Północ w Karelii
Name[pt]=Meia-Noite em Karelia
Name[pt_BR]=Meia-noite em Carélia
Name[ru]=Белая ночь в Карелии
Name[sk]=Polnoc v Karélii
Name[sl]=Polnoč v Kareliji
Name[sq]=Mesnatë në Karelia
Name[sr]=Поноћ у Карелији
Name[sr@ijekavian]=Поноћ у Карелији
Name[sr@ijekavianlatin]=Ponoć u Kareliji
Name[sr@latin]=Ponoć u Kareliji
Name[sv]=Midnatt i Karelien
Name[tr]=Karelia'da Geceyarısı
Name[uk]=Північ у Карелії
Name[x-test]=xxMidnight in Kareliaxx
Name[zh_CN]=Karelia 的午夜
Name[zh_TW]=Karelia 的午夜

X-KDE-PluginInfo-Name=Midnight_in_Karelia
X-KDE-PluginInfo-Author=Анастасия Литвиненко (Anastasiya S. Litvinenk)
X-KDE-PluginInfo-Email=tasmanian.diablo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
