[Desktop Entry]
Name=Emotion
Name[ast]=Emoción
Name[bg]=Чувство
Name[bs]=Emocija
Name[ca]=Emoció
Name[ca@valencia]=Emoció
Name[cs]=Emoce
Name[da]=Emotion
Name[de]=Emotionen
Name[el]=Emotion
Name[en_GB]=Emotion
Name[es]=Emoción
Name[et]=Emotsioon
Name[eu]=Emozioa
Name[fi]=Emotion
Name[fr]=Émotion
Name[ga]=Emotion
Name[gl]=Emoción
Name[hu]=Emotion
Name[is]=Tilfinningar
Name[it]=Emozione
Name[ja]=エモーション
Name[kk]=езім
Name[ko]=감정
Name[lt]=Emocija
Name[lv]=Emocijas
Name[mk]=Емоција
Name[nb]=Følelser
Name[nds]=Geföhl
Name[nl]=Emotion
Name[nn]=Kjensler
Name[pl]=Emocja
Name[pt]=Emoção
Name[pt_BR]=Emoção
Name[ro]=Emoție
Name[ru]=Эмоции
Name[sk]=Emócia
Name[sl]=Čustvo
Name[sq]=Emocion
Name[sr]=Емоција
Name[sr@ijekavian]=Емоција
Name[sr@ijekavianlatin]=Emocija
Name[sr@latin]=Emocija
Name[sv]=Känsla
Name[tr]=Duygu
Name[uk]=Емоція
Name[x-test]=xxEmotionxx
Name[zh_CN]=感性
Name[zh_TW]=表情
X-KDE-PluginInfo-Name=Emotion
X-KDE-PluginInfo-Author=Vlad Gerasimov
X-KDE-PluginInfo-Email=vladstudio@gmail.com
X-KDE-PluginInfo-License=LGPLv3
