[Desktop Entry]
Name=Blue Wood
Name[ar]=الغابة الزرقاء
Name[ast]=Blue Wood
Name[bs]=Plavo drvo
Name[ca]=Fusta blava
Name[ca@valencia]=Fusta blava
Name[cs]=Modré dřevo
Name[da]=Blå skov
Name[de]=Blaue Rinde
Name[el]=Blue Wood
Name[en_GB]=Blue Wood
Name[es]=Madera azul
Name[et]=Sinine puit
Name[eu]=Egur urdina (Blue Wood)
Name[fa]=چوب آبی
Name[fi]=Sininen puu
Name[fr]=Bois bleu
Name[ga]=Blue Wood
Name[gl]=Madeira azul
Name[hu]=Kék
Name[is]=Blár viður
Name[it]=Legno blu
Name[kk]=Көк ағаш
Name[km]=Blue Wood
Name[ko]=파란 나무
Name[lt]=Mėlynas miškas
Name[mr]=निळे लाकुड
Name[nb]=Blått trevirke
Name[nds]=Blaag Holt
Name[nl]=Blauw hout
Name[nn]=Blått trevirke
Name[pl]=Niebieskie drewno
Name[pt]=Madeira Azul
Name[pt_BR]=Madeira Azul
Name[ro]=Lemn albastru
Name[ru]=Синее дерево
Name[sk]=Modré drevo
Name[sl]=Moder les
Name[sr]=Плаво дрво
Name[sr@ijekavian]=Плаво дрво
Name[sr@ijekavianlatin]=Plavo drvo
Name[sr@latin]=Plavo drvo
Name[tr]=Mavi Ahşap
Name[ug]=كۆك ياغاچ
Name[uk]=Синє дерево
Name[x-test]=xxBlue Woodxx
Name[zh_CN]=蓝木头

X-KDE-PluginInfo-Name=Blue_Wood
X-KDE-PluginInfo-Author=Jonas Arnfred
X-KDE-PluginInfo-Email=jonas@ifany.org
X-KDE-PluginInfo-License=LGPLv3
