[Desktop Entry]
Name=Damselfly
Name[bs]=Djevojka leti
Name[ca]=Damisel·la
Name[ca@valencia]=Damisel·la
Name[da]=Damselfly
Name[de]=Kleinlibelle
Name[el]=Damselfly
Name[en_GB]=Damselfly
Name[es]=Caballito del diablo
Name[et]=Kiilike
Name[eu]=Sorginorratz
Name[fi]=Neidonkorento
Name[fr]=Demoiselle
Name[ga]=Damselfly
Name[gl]=Libélula
Name[hu]=Szitakötő
Name[it]=Zigottero
Name[kk]=Теңқанатты інелік
Name[ko]=실 잠자리
Name[lt]=Damselfly
Name[lv]=Damselfly
Name[nb]=Damselfly
Name[nds]=Goldpeerd
Name[nl]=Damselfly
Name[pl]=Damselfly
Name[pt]=Damselfly
Name[pt_BR]=Donzelinha
Name[ru]=Стрекоза
Name[sk]=Damselfly
Name[sl]=Enakokrili kačji pastir
Name[sr]=Водена девица
Name[sr@ijekavian]=Водена дјевица
Name[sr@ijekavianlatin]=Vodena djevica
Name[sr@latin]=Vodena devica
Name[sv]=Jungfruslända
Name[tr]=Damselfly
Name[uk]=Рівнокрила бабка
Name[x-test]=xxDamselflyxx
Name[zh_CN]=蜻蜓
Name[zh_TW]=Damselfly

X-KDE-PluginInfo-Name=Damselfly
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=risto@saukonpaa.com
X-KDE-PluginInfo-License=LGPLv3
