[Desktop Entry]
Name=Fields of Peace
Name[bs]=Poljana mira
Name[ca]=Camps de pau
Name[ca@valencia]=Camps de pau
Name[da]=Fields of Peace
Name[de]=Friedliche Felder
Name[en_GB]=Fields of Peace
Name[es]=Campos de paz
Name[et]=Rahuväljad
Name[fi]=Rauhan kentät
Name[fr]=Champs de paix
Name[ga]=Fields of Peace
Name[gl]=Campos de paz
Name[hu]=Békés mezők
Name[it]=Campi di pace
Name[kk]=Бейбіт дала
Name[ko]=평화로운 들판
Name[lt]=Taikos laukai
Name[lv]=Miera lauki
Name[nb]=Fredsenger
Name[nds]=Fredensfeld
Name[nl]=Fields of Peace
Name[pl]=Pola pokoju
Name[pt]=Campos de Paz
Name[pt_BR]=Campos de paz
Name[ru]=Поле покоя
Name[sk]=Polia mieru
Name[sl]=Polja miru
Name[sr]=Пољана спокоја
Name[sr@ijekavian]=Пољана спокоја
Name[sr@ijekavianlatin]=Poljana spokoja
Name[sr@latin]=Poljana spokoja
Name[sv]=Fridfulla fält
Name[tr]=Buğday Tarlaları
Name[ug]=تىنچلىق باغچىسى
Name[uk]=Поля миру
Name[x-test]=xxFields of Peacexx
Name[zh_CN]=宁静之地
Name[zh_TW]=Fields of Peace
X-KDE-PluginInfo-Name=Fields_of_Peace
X-KDE-PluginInfo-Author=Kenneth Wimer
X-KDE-PluginInfo-Email=ken@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
