[Desktop Entry]
Name=There is Rain on the Table
Name[bg]=Дъжд по масата
Name[bs]=Kiša na tablici
Name[ca]=Hi ha pluja a la taula
Name[ca@valencia]=Hi ha pluja a la taula
Name[cs]=Prší na stůl
Name[da]=Der er regn på bordet
Name[de]=Frischer Regen
Name[el]=There is Rain on the Table
Name[en_GB]=There is Rain on the Table
Name[eo]=Pluvo sur la tablo
Name[es]=Hay lluvia en la mesa
Name[et]=Vihmapiisad laual
Name[eu]=Mahaian euria dago
Name[fi]=Sadetta pöydällä
Name[fr]=Il pleut sur la table
Name[ga]=There is Rain on the Table
Name[gl]=Hai chuvia na mesa
Name[hu]=Eső van az asztalon
Name[it]=C'è pioggia sul tavolo
Name[kk]=Жаңбырдағы үстел
Name[ko]=탁자에 오는 비
Name[lt]=Lietus ant stalo
Name[lv]=Lietus uz galda
Name[nb]=Det faller regn på bordet
Name[nds]=Regendrüppels op den Disch
Name[nl]=Het regent op de tafel
Name[nn]=Det fell regn på bordet
Name[pl]=Deszcz jest na stole
Name[pt]=Está Chuva na Mesa
Name[pt_BR]=Chovendo na mesa
Name[ru]=Дождь на столе
Name[se]=Lea eanetgo ovtta vejolaš deaivan
Name[sk]=Dážď je na stole
Name[sl]=Na mizi je dež
Name[sq]=Ka Shi Mbi Tryezë
Name[sr]=Кишница на клупи
Name[sr@ijekavian]=Кишница на клупи
Name[sr@ijekavianlatin]=Kišnica na klupi
Name[sr@latin]=Kišnica na klupi
Name[sv]=Det är regn på bordet
Name[tr]=Masada Yağmur Var
Name[uk]=Дощ на столі
Name[x-test]=xxThere is Rain on the Tablexx
Name[zh_CN]=雨打长凳
Name[zh_TW]=桌面上有雨
X-KDE-PluginInfo-Name=There_is_Rain_on_the_Table
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-License=LGPLv3
