[Desktop Entry]
Name=Chess
Name[bg]=Шах
Name[bs]=Šah
Name[ca]=Escacs
Name[ca@valencia]=Escacs
Name[cs]=Šachy
Name[da]=Chess
Name[de]=Schach
Name[el]=Chess
Name[en_GB]=Chess
Name[es]=Ajedrez
Name[et]=Male
Name[eu]=Xake
Name[fi]=Šakki
Name[fr]=Échecs
Name[ga]=Chess
Name[gl]=Xadrez
Name[hu]=Sakk
Name[it]=Scacchi
Name[kk]=Шахмат
Name[ko]=체스
Name[lt]=Šachmatai
Name[lv]=Šahs
Name[mai]=सतरंज
Name[nb]=Chess
Name[nds]=Schach
Name[nl]=Schaakspel
Name[pl]=Szachy
Name[pt]=Xadrez
Name[pt_BR]=Xadrez
Name[ru]=Шахматы
Name[sk]=Šach
Name[sl]=Šah
Name[sr]=Шах
Name[sr@ijekavian]=Шах
Name[sr@ijekavianlatin]=Šah
Name[sr@latin]=Šah
Name[sv]=Schack
Name[tr]=Satranç
Name[ug]=شاھمات
Name[uk]=Шахи
Name[x-test]=xxChessxx
Name[zh_CN]=国际象棋
Name[zh_TW]=棋子

X-KDE-PluginInfo-Name=Chess
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=risto@saukonpaa.com
X-KDE-PluginInfo-License=LGPLv3
