[Desktop Entry]
Name=Flores
Name[ast]=Flores
Name[bs]=Cvijeće
Name[ca]=Flores
Name[ca@valencia]=Flores
Name[cs]=Flores
Name[da]=Flores
Name[de]=Flores
Name[el]=Flores
Name[en_GB]=Flores
Name[es]=Flores
Name[et]=Flores
Name[eu]=Loreak (Flores)
Name[fa]=فلورس
Name[fi]=Flores
Name[fr]=Fleurs
Name[ga]=Flores
Name[gl]=Flores
Name[hu]=Flores
Name[is]=Blómstur
Name[it]=Flores
Name[kk]=Флорес
Name[ko]=꽃
Name[lt]=Flores
Name[mr]=फ्लोरेस
Name[nb]=Flores
Name[nds]=Flores
Name[nl]=Flores
Name[pl]=Flores
Name[pt]=Flores
Name[pt_BR]=Flores
Name[ro]=Flores
Name[ru]=Флорес
Name[sk]=Flores
Name[sl]=Flores
Name[sr]=Флорес
Name[sr@ijekavian]=Флорес
Name[sr@ijekavianlatin]=Flores
Name[sr@latin]=Flores
Name[tr]=Flores
Name[ug]=فىلورېس
Name[uk]=Флорес
Name[x-test]=xxFloresxx
Name[zh_CN]=弗洛雷斯
X-KDE-PluginInfo-Name=Flores
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=bettio@kde.org
X-KDE-PluginInfo-License=LGPLv3
