[Desktop Entry]
Name=Flying Field
Name[ar]=الحقل الطائر
Name[ast]=Flying Field
Name[bs]=Leteće polje
Name[ca]=Camp volant
Name[ca@valencia]=Camp volant
Name[cs]=Flying Field
Name[da]=Flyvende mark
Name[de]=Flying Field
Name[el]=Flying Field
Name[en_GB]=Flying Field
Name[es]=Campo volador
Name[et]=Lendav väli
Name[eu]=Soro hegalaria (Flying Field)
Name[fa]=میدان پرواز
Name[fi]=Lentävä pelto
Name[fr]=Champs volants
Name[ga]=Flying Field
Name[gl]=Campo voador
Name[hu]=Repülő mező
Name[is]=Fljúgandi akur
Name[it]=Campo di volo
Name[kk]=Ұшқан өріс
Name[km]=Flying Field
Name[ko]=날아다니는 들판
Name[lt]=Skraidantis laukas
Name[mr]=उडणारी जमीन
Name[nb]=Kornåker
Name[nds]=Flegen Feld
Name[nl]=Vliegend veld
Name[nn]=Kornåker
Name[pl]=Latające pole
Name[pt]=Campo de Voo
Name[pt_BR]=Campo de Voo
Name[ro]=Cîmp de zbor
Name[ru]=Лётное поле
Name[sk]=Lietajúce pole
Name[sl]=Leteče polje
Name[sr]=Летеће поље
Name[sr@ijekavian]=Летеће поље
Name[sr@ijekavianlatin]=Leteće polje
Name[sr@latin]=Leteće polje
Name[tr]=Uçan Alan
Name[uk]=Летюче поле
Name[x-test]=xxFlying Fieldxx
Name[zh_CN]=飞扬的田野

X-KDE-PluginInfo-Name=Flying Field
X-KDE-PluginInfo-Author=Luiz Bettoni
X-KDE-PluginInfo-Email=lulis@odois.org
X-KDE-PluginInfo-License=LGPLv3
