[Desktop Entry]
Name=Castilla Sky
Name[ast]=Cielu de Castiella
Name[bs]=Kastilijansko nebo
Name[ca]=Cel de Castella
Name[ca@valencia]=Cel de Castella
Name[cs]=Kastilská obloha
Name[da]=Castilla Sky
Name[de]=Himmel über Kastilien
Name[el]=Castilla Sky
Name[en_GB]=Castilla Sky
Name[es]=Cielo de Castilla
Name[et]=Castilla taevas
Name[eu]=Gaztelako zerua (Castilla Sky)
Name[fa]=آسمان کاستیلا
Name[fi]=Castillan taivas
Name[fr]=Ciel castillan
Name[ga]=Castilla Sky
Name[gl]=Ceo de castela
Name[hu]=Castillai ég
Name[is]=Kastilískur himinn
Name[it]=Cielo di Castiglia
Name[kk]=Кастилия аспаны
Name[km]=Castilla Sky
Name[ko]=카스티야의 하늘
Name[lt]=Kastilijos dangus
Name[mr]=कास्टील्ला स्काय
Name[nb]=Kastiljansk himmel
Name[nds]=Kastielsch Heven
Name[nl]=Hemel van Castilla
Name[nn]=Kastiljansk himmel
Name[pl]=Niebo Kastylijskie
Name[pt]=Céu de Castela
Name[pt_BR]=Céu de Castilla
Name[ro]=Cer Castilla
Name[ru]=Небо Кастилии
Name[sk]=Kastílska obloha
Name[sl]=Nebo nad Castillo
Name[sr]=Кастиљанско небо
Name[sr@ijekavian]=Кастиљанско небо
Name[sr@ijekavianlatin]=Kastiljansko nebo
Name[sr@latin]=Kastiljansko nebo
Name[tr]=Castilla Gökyüzü
Name[uk]=Небо Кастілії
Name[x-test]=xxCastilla Skyxx
Name[zh_CN]=卡斯蒂利亚的天空

X-KDE-PluginInfo-Name=Castilla_Sky
X-KDE-PluginInfo-Author=Luiz Bettoni
X-KDE-PluginInfo-Email=lulis@odois.org
X-KDE-PluginInfo-License=LGPLv3
