[Desktop Entry]
Name=City at Night
Name[bg]=Нощен град
Name[bs]=Grad po noći
Name[ca]=Ciutat de nit
Name[ca@valencia]=Ciutat de nit
Name[cs]=Město v noci
Name[da]=City at Night
Name[de]=Stadt bei Nacht
Name[el]=City at Night
Name[en_GB]=City at Night
Name[es]=Ciudad de noche
Name[et]=Linn öösel
Name[eu]=Hiria gauez
Name[fi]=Kaupunki yöllä
Name[fr]=Ville nocturne
Name[ga]=City at Night
Name[gl]=A cidade á noite
Name[hu]=Éjszakai fények
Name[it]=Città di notte
Name[ja]=夜の街
Name[kk]=Түңгі шәһары
Name[ko]=한밤중의 도시
Name[lt]=Miestas naktį
Name[lv]=Pilsēta naktī
Name[nb]=By om natta
Name[nds]=Stadt bi Nacht
Name[nl]=Stad bij nacht
Name[nn]=Byen om natta
Name[pl]=Miasto nocą
Name[pt]=Cidade À Noite
Name[pt_BR]=Cidade à noite
Name[ru]=Ночной город
Name[sk]=Mesto v noci
Name[sl]=Mesto ponoči
Name[sr]=Град ноћу
Name[sr@ijekavian]=Град ноћу
Name[sr@ijekavianlatin]=Grad noću
Name[sr@latin]=Grad noću
Name[sv]=Stad på natten
Name[tr]=Geceleyin Şehir
Name[uk]=Нічне місто
Name[x-test]=xxCity at Nightxx
Name[zh_CN]=城市之夜
Name[zh_TW]=夜裡的城市

X-KDE-PluginInfo-Name=City_at_Night
X-KDE-PluginInfo-Author=Jorge Sandín
X-KDE-PluginInfo-Email=spesgmd@gmail.com
X-KDE-PluginInfo-License=LGPLv3
