[Desktop Entry]
Name=Icy Tree
Name[ast]=Árbol xeláu
Name[bg]=Ледено дърво
Name[bs]=Ledeno drvo
Name[ca]=Arbre gelat
Name[ca@valencia]=Arbre gelat
Name[cs]=Zmrzlý strom
Name[da]=Icy Tree
Name[de]=Eisbaum
Name[el]=Icy Tree
Name[en_GB]=Icy Tree
Name[es]=Árbol helado
Name[et]=Jääpuu
Name[eu]=Hizoztutako zuhaitza
Name[fi]=Jäinen puu
Name[fr]=Arbre glacé
Name[ga]=Icy Tree
Name[gl]=Árbore xeada
Name[hu]=Jeges fa
Name[is]=Ísað tré
Name[it]=Albero ghiacciato
Name[kk]=қыраулы ағашҚ
Name[ko]=얼음 나무
Name[lt]=Ledinis medis
Name[lv]=Ledainais koks
Name[nb]=Isdekket tre
Name[nds]=Iesboom
Name[nl]=Beijzelde boom
Name[nn]=Rim på tre
Name[pl]=Lodowe drzewo
Name[pt]=Árvore Gelada
Name[pt_BR]=Árvore congelada
Name[ro]=Copac brumăriu
Name[ru]=Ледяное дерево
Name[sk]=Ľadový strom
Name[sl]=Ledeno drevo
Name[sq]=Icy Tree
Name[sr]=Слеђено дрво
Name[sr@ijekavian]=Слеђено дрво
Name[sr@ijekavianlatin]=Sleđeno drvo
Name[sr@latin]=Sleđeno drvo
Name[sv]=Nedisat träd
Name[tr]=Buz Ağaç
Name[uk]=Замерзле дерево
Name[x-test]=xxIcy Treexx
Name[zh_CN]=冰晶树
Name[zh_TW]=冰樹

X-KDE-PluginInfo-Name=Icy_Tree
X-KDE-PluginInfo-Author=Steve Stalcup
X-KDE-PluginInfo-Email=vorian@ubuntu.com
X-KDE-PluginInfo-License=GPL
