[Desktop Entry]
Name=Auros
Name[ast]=Auros
Name[bs]=Aura
Name[ca]=Auros
Name[ca@valencia]=Auros
Name[cs]=Auros
Name[da]=Auros
Name[de]=Auros
Name[el]=Auros
Name[en_GB]=Auros
Name[es]=Auros
Name[et]=Auros
Name[eu]=Auros
Name[fa]=آروس
Name[fi]=Auros
Name[fr]=Auros
Name[ga]=Auros
Name[gl]=Auros
Name[hu]=Auros
Name[is]=Auros
Name[it]=Auros
Name[kk]=Аурос
Name[ko]=오로라
Name[lt]=Auros
Name[mr]=ऑरोस
Name[nb]=Auros
Name[nds]=Auros
Name[nl]=Auros
Name[pl]=Auros
Name[pt]=Auros
Name[pt_BR]=Auros
Name[ro]=Auros
Name[ru]=Аурос
Name[sk]=Auros
Name[sl]=Auros
Name[sr]=Аурора
Name[sr@ijekavian]=Аурора
Name[sr@ijekavianlatin]=Aurora
Name[sr@latin]=Aurora
Name[tr]=Auros
Name[uk]=Аурос
Name[x-test]=xxAurosxx
Name[zh_CN]=Auros
X-KDE-PluginInfo-Name=Auros
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=bettio@kde.org
X-KDE-PluginInfo-License=LGPLv3
