[Desktop Entry]
Name=Fresh Morning
Name[bg]=Свежа утрин
Name[bs]=Jutarnja svježina
Name[ca]=Matí fresc
Name[ca@valencia]=Matí fresc
Name[cs]=Svěží ráno
Name[da]=Frisk morgen
Name[de]=Morgentau
Name[en_GB]=Fresh Morning
Name[es]=Mañana fresca
Name[et]=Värske hommik
Name[fi]=Aamukaste
Name[fr]=Matin frais
Name[ga]=Fresh Morning
Name[gl]=Mañá fresca
Name[hu]=Üde reggel
Name[it]=Fresco mattino
Name[kk]=Қайырлы таң
Name[ko]=신선한 아침
Name[lt]=Gaivus rytas
Name[nb]=Morgendugg
Name[nds]=Frisch Morgen
Name[nl]=Vroege ochtend
Name[nn]=Morgondugg
Name[pl]=Rześki poranek
Name[pt]=Manhã Fresca
Name[pt_BR]=Manhã fresca
Name[ru]=Свежее утро
Name[sk]=Čerstvé ráno
Name[sl]=Sveže jutro
Name[sr]=Јутарња свежина
Name[sr@ijekavian]=Јутарња свјежина
Name[sr@ijekavianlatin]=Jutarnja svježina
Name[sr@latin]=Jutarnja svežina
Name[sv]=Frisk morgon
Name[tr]=Taze Sabah
Name[uk]=Свіжий ранок
Name[x-test]=xxFresh Morningxx
Name[zh_CN]=清新早晨
Name[zh_TW]=清新的早晨
X-KDE-PluginInfo-Name=Fresh_Morning
X-KDE-PluginInfo-Author=Pablo León-Asuero Moreno
X-KDE-PluginInfo-Email=kapuxino@gmail.com
X-KDE-PluginInfo-License=LGPLv3
