[Desktop Entry]
Name=Azul
Name[ast]=Azul
Name[bs]=Azul
Name[ca]=Azul
Name[ca@valencia]=Azul
Name[cs]=Azul
Name[da]=Azul
Name[de]=Azul
Name[el]=Azul
Name[en_GB]=Azul
Name[es]=Azul
Name[et]=Azul
Name[eu]=Urdina (Azul)
Name[fa]=آزول
Name[fi]=Azul
Name[fr]=Azur
Name[ga]=Azul
Name[gl]=Azul
Name[hu]=Azul
Name[is]=Blár
Name[it]=Azul
Name[kk]=Азул
Name[km]=Azul
Name[ko]=푸른 바둑판
Name[lt]=Azul
Name[mr]=अझुल
Name[nb]=Azul
Name[nds]=Azul
Name[nl]=Azul
Name[nn]=Azul
Name[pl]=Azul
Name[pt]=Azul
Name[pt_BR]=Azul
Name[ro]=Azul
Name[ru]=Азул
Name[sk]=Azul
Name[sl]=Azul
Name[sr]=Азул
Name[sr@ijekavian]=Азул
Name[sr@ijekavianlatin]=Azul
Name[sr@latin]=Azul
Name[tr]=Azul
Name[uk]=Азул
Name[x-test]=xxAzulxx
Name[zh_CN]=蓝方砖

X-KDE-PluginInfo-Name=Azul
X-KDE-PluginInfo-Author=Davide Bettio
X-KDE-PluginInfo-Email=davide.bettio@kdemail.net
X-KDE-PluginInfo-License=LGPLv3
