[Desktop Entry]
Name=EOS
Name[bs]=EOS
Name[ca]=EOS
Name[ca@valencia]=EOS
Name[cs]=EOS
Name[da]=EOS
Name[de]=EOS
Name[el]=EOS
Name[en_GB]=EOS
Name[eo]=EOS
Name[es]=EOS
Name[et]=EOS
Name[eu]=EOS
Name[fi]=EOS
Name[fr]=EOS
Name[ga]=EOS
Name[gl]=EOS
Name[hu]=EOS
Name[it]=EOS
Name[kk]=EOS
Name[ko]=EOS
Name[lt]=EOS
Name[lv]=EOS
Name[mai]=EOS
Name[nb]=EOS
Name[nds]=EOS
Name[nl]=EOS
Name[nn]=EOS
Name[pl]=EOS
Name[pt]=EOS
Name[pt_BR]=EOS
Name[ru]=EOS
Name[sk]=EOS
Name[sl]=EOS
Name[sq]=EOS
Name[sr]=ЕОС
Name[sr@ijekavian]=ЕОС
Name[sr@ijekavianlatin]=EOS
Name[sr@latin]=EOS
Name[sv]=EOS
Name[tr]=EOS
Name[uk]=EOS
Name[x-test]=xxEOSxx
Name[zh_CN]=EOS
Name[zh_TW]=EOS
X-KDE-PluginInfo-Name=EOS
X-KDE-PluginInfo-Author=Vlad Gerasimov
X-KDE-PluginInfo-Email=vladstudio@gmail.com
X-KDE-PluginInfo-License=LGPLv3
