[Desktop Entry]
Name=Aghi
Name[bs]=Agi
Name[ca]=Aghi
Name[ca@valencia]=Aghi
Name[cs]=Aghi
Name[da]=Aghi
Name[de]=Aghi
Name[en_GB]=Aghi
Name[es]=Aghi
Name[et]=Aghi
Name[fi]=Aghi
Name[fr]=Aghi
Name[ga]=Aghi
Name[gl]=Aghi
Name[hu]=Aghi
Name[it]=Aghi
Name[kk]=Аги
Name[ko]=아그히
Name[lt]=Aghi
Name[lv]=Aghi
Name[nb]=Aghi
Name[nds]=Aghi
Name[nl]=Aghi
Name[pl]=Aghi
Name[pt]=Aghi
Name[pt_BR]=Aghi
Name[ru]=Иголки
Name[sk]=Aghi
Name[sl]=Aghi
Name[sr]=Аги
Name[sr@ijekavian]=Аги
Name[sr@ijekavianlatin]=Agi
Name[sr@latin]=Agi
Name[sv]=Aghi
Name[tr]=Aghi
Name[uk]=Агхі
Name[x-test]=xxAghixx
Name[zh_CN]=Aghi
Name[zh_TW]=Aghi

X-KDE-PluginInfo-Name=Aghi
X-KDE-PluginInfo-Author=Matteo Nobile
X-KDE-PluginInfo-Email=matteo.nobile@hispeed.ch
X-KDE-PluginInfo-License=LGPLv3
