[Desktop Entry]
Name=Korea
Name[bg]=Корея
Name[bs]=Koreja
Name[ca]=Corea
Name[ca@valencia]=Corea
Name[cs]=Korea
Name[da]=Korea
Name[de]=Korea
Name[el]=Korea
Name[en_GB]=Korea
Name[es]=Corea
Name[et]=Korea
Name[eu]=Korea
Name[fi]=Korea
Name[fr]=Corée
Name[ga]=Korea
Name[gl]=Corea
Name[hu]=Korea
Name[it]=Corea
Name[ja]=コリア
Name[kk]=Корея
Name[ko]=한국
Name[lt]=Korėja
Name[lv]=Koreja
Name[nb]=Korea
Name[nds]=Korea
Name[nl]=Korea
Name[nn]=Korea
Name[pl]=Korea
Name[pt]=Coreia
Name[pt_BR]=Coreia
Name[ru]=Корея
Name[sk]=Kórea
Name[sl]=Koreja
Name[sr]=Кореја
Name[sr@ijekavian]=Кореја
Name[sr@ijekavianlatin]=Koreja
Name[sr@latin]=Koreja
Name[sv]=Korea
Name[tr]=Kore
Name[ug]=كورېيە
Name[uk]=Корея
Name[x-test]=xxKoreaxx
Name[zh_CN]=韩国
Name[zh_TW]=韓國
X-KDE-PluginInfo-Name=Korea
X-KDE-PluginInfo-Author=Alexandre Courbot
X-KDE-PluginInfo-Email=gnurou@gmail.com
X-KDE-PluginInfo-License=LGPLv3
