[Desktop Entry]
Name=Yellow Flowers
Name[bg]=Жълти цветя
Name[bs]=Žuto cvijeće
Name[ca]=Flors grogues
Name[ca@valencia]=Flors grogues
Name[cs]=Žluté květiny
Name[da]=Yellow Flowers
Name[de]=Gelbe Blumen
Name[el]=Yellow Flowers
Name[en_GB]=Yellow Flowers
Name[es]=Flores amarillas
Name[et]=Kollased lilled
Name[eu]=Lore horiak
Name[fi]=Keltaiset kukat
Name[fr]=Fleurs jaunes
Name[ga]=Yellow Flowers
Name[gl]=Flores amarelas
Name[hu]=Sárga virágok
Name[it]=Fiori gialli
Name[ja]=黄色い花
Name[kk]=Сары гүлдер
Name[ko]=노란 꽃
Name[lt]=Geltonos gėlės
Name[lv]=Dzeltenās puķes
Name[nb]=Gule blomster
Name[nds]=Geel Blööm
Name[nl]=Gele bloemen
Name[pl]=Żółte kwiaty
Name[pt]=Flores Amarelas
Name[pt_BR]=Flores amarelas
Name[ru]=Жёлтые цветы
Name[sk]=Žlté kvety
Name[sl]=Rumene rože
Name[sr]=Жуто цвеће
Name[sr@ijekavian]=Жуто цвијеће
Name[sr@ijekavianlatin]=Žuto cvijeće
Name[sr@latin]=Žuto cveće
Name[sv]=Gula blommor
Name[tr]=Sarı Çiçekler
Name[uk]=Жовті квіти
Name[x-test]=xxYellow Flowersxx
Name[zh_CN]=黄色花朵
Name[zh_TW]=黃花

X-KDE-PluginInfo-Name=Yellow_Flowers
X-KDE-PluginInfo-Author=Helena Świderska
X-KDE-PluginInfo-Email=bastet.milo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
