[Desktop Entry]
Name=Leafs Labyrinth
Name[ast]=Llaberintu de fueyes
Name[bg]=Лабиринт от листа
Name[bs]=Cvijetne pore
Name[ca]=Laberint de fulles
Name[ca@valencia]=Laberint de fulles
Name[cs]=Labyrint listů
Name[da]=Leafs Labyrinth
Name[de]=Blätterlabyrinth
Name[el]=Leafs Labyrinth
Name[en_GB]=Leafs Labyrinth
Name[es]=Laberinto de hojas
Name[et]=Lehelabürint
Name[eu]=Hostoen labirintoa
Name[fi]=Lehtilabyrintti
Name[fr]=Labyrinthe de feuilles
Name[ga]=Leafs Labyrinth
Name[gl]=Labirinto de follas
Name[hu]=Falevelek
Name[is]=Laufavölundarhús
Name[it]=Labirinto di foglie
Name[ja]=葉の中の迷路
Name[kk]=Жапырақты лабиринт
Name[ko]=잎 미로
Name[lt]=Lapų labirintas
Name[lv]=Lapas labirints
Name[mk]=Лавиринт од листови
Name[nb]=Løvlabyrint
Name[nds]=Blööd-Biestergoorn
Name[nl]=Bladerdoolhof
Name[nn]=Lauvlabyrint
Name[pl]=Labirynt liści
Name[pt]=Labirinto de Folhas
Name[pt_BR]=Labirinto da folha
Name[ro]=Labirint de frunze
Name[ru]=Прожилки
Name[sk]=Labyrint listov
Name[sl]=Labirint na listu
Name[sq]=Labirint Gjethesh
Name[sr]=Листов лавиринт
Name[sr@ijekavian]=Листов лавиринт
Name[sr@ijekavianlatin]=Listov lavirint
Name[sr@latin]=Listov lavirint
Name[sv]=Lövlabyrint
Name[tr]=Yaprak Labirenti
Name[uk]=Листв’яний лабіринт
Name[x-test]=xxLeafs Labyrinthxx
Name[zh_CN]=叶子迷宫
Name[zh_TW]=樹葉紋路
X-KDE-PluginInfo-Name=Leafs_Labyrinth
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-License=LGPLv3
