[Desktop Entry]
Name=Finally Summer in Germany
Name[bs]=Napokon ljeto u Njemačkoj
Name[ca]=Finalment l'estiu a Alemanya
Name[ca@valencia]=Finalment l'estiu a Alemanya
Name[cs]=Konečně léto v Německu
Name[da]=Endelig sommer i Tyskland
Name[de]=Endlich Sommer in Deutschland
Name[en_GB]=Finally Summer in Germany
Name[es]=Por fin es verano en Alemania
Name[et]=Saksamaal on lõpuks suvi
Name[fi]=Vihdoin kesä Saksassa
Name[fr]=Fin d'été en Allemagne
Name[ga]=Finally Summer in Germany
Name[gl]=Por fin é verán en Alemaña
Name[hu]=Nyár Németországban
Name[it]=Finalmente estate in Germania
Name[kk]=Германиядағы жаз таманы
Name[ko]=독일에 온 여름
Name[lt]=Pagaliau vasara Vokietijoje
Name[nb]=Endelig sommer i Tyskland
Name[nds]=Tolest doch Summer in Düütschland
Name[nl]=Eindelijk zomer in Duitsland
Name[nn]=Endeleg sommar i Tyskland
Name[pl]=Nareszcie lato w Niemczech
Name[pt]=Finalmente Verão na Alemanha
Name[pt_BR]=Finalmente verão na Alemanha
Name[ru]=Долгожданное лето в Германии
Name[sk]=Konečne leto v Nemecku
Name[sl]=Končno pomlad v Nemčiji
Name[sr]=Напокон лето у Немачкој
Name[sr@ijekavian]=Напокон љето у Њемачкој
Name[sr@ijekavianlatin]=Napokon ljeto u Njemačkoj
Name[sr@latin]=Napokon leto u Nemačkoj
Name[sv]=Äntligen sommar i Tyskland
Name[tr]=Sonunda Almanya'da Yaz
Name[uk]=Нарешті літо у Німеччині
Name[x-test]=xxFinally Summer in Germanyxx
Name[zh_CN]=夏末德国
Name[zh_TW]=德國的夏天
X-KDE-PluginInfo-Name=Finally_Summer_in_Germany
X-KDE-PluginInfo-Author=Kenneth Wimer
X-KDE-PluginInfo-Email=ken@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
