[Desktop Entry]
Name=Storm
Name[bg]=Буря
Name[bs]=Oluja
Name[ca]=Tempesta
Name[ca@valencia]=Tempesta
Name[cs]=Bouře
Name[da]=Storm
Name[de]=Sturm
Name[en_GB]=Storm
Name[es]=Tormenta
Name[et]=Torm
Name[fi]=Myrsky
Name[fr]=Tempête
Name[ga]=Storm
Name[gl]=Tormenta
Name[hu]=Vihar
Name[it]=Tempesta
Name[ja]=ストーム
Name[kk]=Дауыл
Name[ko]=폭풍
Name[lt]=Audra
Name[lv]=Vētra
Name[nb]=Storm
Name[nds]=Storm
Name[nl]=Storm
Name[pl]=Sztorm
Name[pt]=Tempestade
Name[pt_BR]=Tempestade
Name[ru]=Буря
Name[sk]=Búrka
Name[sl]=Nevihta
Name[sr]=Олуја
Name[sr@ijekavian]=Олуја
Name[sr@ijekavianlatin]=Oluja
Name[sr@latin]=Oluja
Name[sv]=Storm
Name[tr]=Fırtına
Name[ug]=جۇدۇن
Name[uk]=Буря
Name[x-test]=xxStormxx
Name[zh_CN]=风暴
Name[zh_TW]=暴風雨

X-KDE-PluginInfo-Name=Storm
X-KDE-PluginInfo-Author=Marco Oggioni
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
