[Desktop Entry]
Name=Vector Sunset
Name[ast]=Atapecer
Name[bg]=Векторен залез
Name[bs]=Zalazak sunca
Name[ca]=Posta de sol vectorial
Name[ca@valencia]=Posta de sol vectorial
Name[cs]=Vektoriální západ Slunce
Name[da]=Vector Sunset
Name[de]=Vektor-Sonnenuntergang
Name[el]=Vector Sunset
Name[en_GB]=Vector Sunset
Name[es]=Ocaso vectorial
Name[et]=Vektorloojang
Name[eu]=Ilunabar bektoriala
Name[fi]=Vektoriauringonlasku
Name[fr]=Coucher de soleil
Name[ga]=Vector Sunset
Name[gl]=Solpor vectorial
Name[hu]=Vektoros naplemente
Name[is]=Sólstafir
Name[it]=Tramonto vettoriale
Name[kk]=Күн бату векторы
Name[ko]=벡터 석양
Name[lt]=Vektorinis saulėlydis
Name[lv]=Vektoru saulriets
Name[nb]=Vektor-solnedgang
Name[nds]=Sünnvektor
Name[nl]=Zonsondergang met vector
Name[nn]=Vektorisert solnedgang
Name[pl]=Wektorowy zachód słońca
Name[pt]=Pôr-do-Sol Vectorial
Name[pt_BR]=Pôr do sol vetorial
Name[ru]=Закат
Name[sk]=Vektorový západ slnka
Name[sl]=Vektorski Sončev zahod
Name[sq]=Vector Sunset
Name[sr]=Векторски залазак
Name[sr@ijekavian]=Векторски залазак
Name[sr@ijekavianlatin]=Vektorski zalazak
Name[sr@latin]=Vektorski zalazak
Name[sv]=Vektorsolnedgång
Name[tr]=Günbatımı
Name[uk]=Векторний захід сонця
Name[x-test]=xxVector Sunsetxx
Name[zh_CN]=矢量日落
Name[zh_TW]=日落餘暉

X-KDE-PluginInfo-Name=Vector_Sunset
X-KDE-PluginInfo-Author=Nuno Pinheiro & Vlad Gerasimov
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org & vladstudio@gmail.com
X-KDE-PluginInfo-License=LGPLv3
