[Desktop Entry]
Name=HighTide
Name[ast]=MareaAlta
Name[bg]=Прилив
Name[bs]=Plima
Name[ca]=Marea alta
Name[ca@valencia]=Marea alta
Name[cs]=Příliv
Name[da]=HighTide
Name[de]=Hochwasser
Name[el]=HighTide
Name[en_GB]=HighTide
Name[es]=Marea alta
Name[et]=Tõus
Name[eu]=Itsasgora
Name[fi]=Vuoksi
Name[fr]=Marée haute
Name[ga]=HighTide
Name[gl]=Preamar
Name[hu]=Dagály
Name[is]=Háflóð
Name[it]=Alta marea
Name[kk]=Көтрілу кұйылым
Name[ko]=높은 물결
Name[lt]=HighTide
Name[lv]=Augstās plūdmaiņas
Name[nb]=Høyvann
Name[nds]=Hooch Water
Name[nl]=Hoogwater
Name[nn]=Høgvatn
Name[pl]=Przypływ
Name[pt]=Maré Alta
Name[pt_BR]=Maré alta
Name[ru]=Отражение
Name[sk]=HighTide
Name[sl]=Plima
Name[sq]=HighTide
Name[sr]=Висока плима
Name[sr@ijekavian]=Висока плима
Name[sr@ijekavianlatin]=Visoka plima
Name[sr@latin]=Visoka plima
Name[sv]=Högvatten
Name[tr]=Büyük Med Cezir
Name[uk]=Висока хвиля
Name[x-test]=xxHighTidexx
Name[zh_CN]=涨潮
Name[zh_TW]=高潮

X-KDE-PluginInfo-Name=HighTide
X-KDE-PluginInfo-Author=Patrik Eriksson Thelin
X-KDE-PluginInfo-Email=patrik.et@gmail.com
X-KDE-PluginInfo-License=LGPLv3
