[Desktop Entry]
Name=Spring Sunray
Name[bg]=Пролетни лъчи
Name[bs]=Proljetna zraka sunca
Name[ca]=Raig de sol primaveral
Name[ca@valencia]=Raig de sol primaveral
Name[cs]=Jarní sluneční paprsky
Name[da]=Spring Sunray
Name[de]=Frühlingserwachen
Name[el]=Spring Sunray
Name[en_GB]=Spring Sunray
Name[es]=Rayo de sol de primavera
Name[et]=Kevadine päiksekiir
Name[eu]=Udaberriko eguzki izpia
Name[fi]=Kevään valo
Name[fr]=Rayon de soleil de printemps
Name[ga]=Spring Sunray
Name[gl]=Raios de sol na primavera
Name[hu]=Tavaszi napsugár
Name[it]=Raggio di sole primaverile
Name[kk]=Көктем шуағы
Name[ko]=봄철 햇살
Name[lt]=Pavasarinis spindulys
Name[lv]=Pavasara saulstars
Name[nb]=Solstrålevår
Name[nds]=Sünnstrahl
Name[nl]=Spring Sunray
Name[nn]=Solskin om våren
Name[pl]=Promień wiosenny
Name[pt]=Raio-de-Sol da Primavera
Name[pt_BR]=Raio de sol da primavera
Name[ru]=Луч весеннего солнца
Name[sk]=Jarný slnčený lúč
Name[sl]=Pomladni sončev žarek
Name[sr]=Пролећни трачак сунца
Name[sr@ijekavian]=Прољећни трачак сунца
Name[sr@ijekavianlatin]=Proljećni tračak sunca
Name[sr@latin]=Prolećni tračak sunca
Name[sv]=Vårsolstråle
Name[tr]=Bahar Güneş Işığı
Name[uk]=Весняний промінь сонця
Name[x-test]=xxSpring Sunrayxx
Name[zh_CN]=早春阳光
Name[zh_TW]=春天的陽光

X-KDE-PluginInfo-Name=Spring_Sunray
X-KDE-PluginInfo-Author=Simone Lazzaris
X-KDE-PluginInfo-Email=simone@omni.it
X-KDE-PluginInfo-License=LGPLv3
