[Desktop Entry]
Name=Curls on Green
Name[bg]=Зелени извивки
Name[bs]=Kovrče na travi
Name[ca]=Rínxols en verd
Name[ca@valencia]=Rínxols en verd
Name[cs]=Kadeře zeleně
Name[da]=Curls on Green
Name[de]=Grün gezwirbelt
Name[el]=Curls on Green
Name[en_GB]=Curls on Green
Name[eo]=Bukloj sur verda
Name[es]=Rizos sobre verde
Name[et]=Lokid aasal
Name[eu]=Kizkurra berdean
Name[fi]=Vihreitä kiehkuroita
Name[fr]=Courbes végétales
Name[ga]=Curls on Green
Name[gl]=Curvas no verde
Name[hu]=Zöld fürtök
Name[it]=Riccioli su verde
Name[kk]=Жасыл шиыршықтар
Name[ko]=녹색 곡선
Name[lt]=Curls on Green
Name[lv]=Spirāle uz zaļā
Name[nb]=Krøller på grønt
Name[nds]=Gröön Locken
Name[nl]=Curls on Green
Name[nn]=Krøllar på grønt
Name[pl]=Zawijasy na zielonym
Name[pt]=Curvas no Verde
Name[pt_BR]=Curvas no verde
Name[ru]=Папоротник
Name[sk]=Zelené kučery
Name[sl]=Zeleni kodri
Name[sr]=Локнице у зеленилу
Name[sr@ijekavian]=Локнице у зеленилу
Name[sr@ijekavianlatin]=Loknice u zelenilu
Name[sr@latin]=Loknice u zelenilu
Name[sv]=Gröna krökningar
Name[tr]=Yeşil Üzerine Dalgalar
Name[uk]=Завитки на зеленому
Name[x-test]=xxCurls on Greenxx
Name[zh_CN]=绿色旋卷
Name[zh_TW]=Curls on Green
X-KDE-PluginInfo-Name=Curls_on_Green
X-KDE-PluginInfo-Author=Joseph Connors
X-KDE-PluginInfo-Email=josephconnors@usa.net
X-KDE-PluginInfo-License=LGPLv3
