[Desktop Entry]
Name=Plasmalicious
Name[bs]=Plazmaslastično
Name[ca]=Plasmalicious
Name[ca@valencia]=Plasmalicious
Name[cs]=Plasmalicious
Name[da]=Plasmalicious
Name[de]=Plasmalicious
Name[en_GB]=Plasmalicious
Name[es]=Plasmalicioso
Name[et]=Plasmalicious
Name[fi]=Plasmalicious
Name[fr]=Plasmalicious
Name[ga]=Plasmalicious
Name[gl]=Plasmalicious
Name[hu]=Plasmalicious
Name[it]=Plasmalizioso
Name[kk]=Плазматикалық
Name[ko]=Plasmalicious
Name[lt]=Plasmalicious
Name[nb]=Plasmatastisk
Name[nds]=Plasmaliziöös
Name[nl]=Plasmalicious
Name[nn]=Plasmatastisk
Name[pl]=Plasmalicious
Name[pt]=Plasmalicioso
Name[pt_BR]=Plasmalicioso
Name[ru]=Плазмагия
Name[sk]=Plasmalicious
Name[sl]=Plasmastično
Name[sr]=Плазмасластично
Name[sr@ijekavian]=Плазмасластично
Name[sr@ijekavianlatin]=Plasmaslastično
Name[sr@latin]=Plasmaslastično
Name[sv]=Plasmaläckert
Name[tr]=Plasmalicious
Name[uk]=Плазмотища
Name[x-test]=xxPlasmaliciousxx
Name[zh_CN]=Plasmalicious
Name[zh_TW]=Plasmalicious

X-KDE-PluginInfo-Name=Plasmalicious
X-KDE-PluginInfo-Author=David Vignoni
X-KDE-PluginInfo-Email=david@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
