[Desktop Entry]
Name=Holiday Cactus
Name[bg]=Празничен кактус
Name[bs]=Kaktus
Name[ca]=Cactus de Nadal
Name[ca@valencia]=Cactus de Nadal
Name[da]=Holiday Cactus
Name[de]=Holiday Cactus
Name[el]=Holiday Cactus
Name[en_GB]=Holiday Cactus
Name[es]=Cactus de navidad
Name[et]=Jõulukaktus
Name[eu]=Gabonetako Kaktusa
Name[fi]=Joulukaktus
Name[fr]=Cactus en vacances
Name[ga]=Holiday Cactus
Name[gl]=Cactus de Nadal
Name[hu]=Karácsonyi kaktusz
Name[it]=Cactus festivo
Name[kk]=Мейрам кактусы
Name[ko]=휴일 선인장
Name[lt]=Atostogų kaktusas
Name[lv]=Brīvdienu kaktuss
Name[nb]=Feriekaktus
Name[nds]=Wiehnachtskaktus
Name[nl]=Holiday Cactus
Name[pl]=Świąteczny kaktus
Name[pt]=Cacto em Férias
Name[pt_BR]=Flor-de-maio
Name[ru]=Цветущий кактус
Name[sk]=Dovolenkový kaktus
Name[sl]=Praznični kaktus
Name[sr]=Празнични кактус
Name[sr@ijekavian]=Празнични кактус
Name[sr@ijekavianlatin]=Praznični kaktus
Name[sr@latin]=Praznični kaktus
Name[sv]=Julkaktus
Name[tr]=Tatil Kaktüsü
Name[uk]=Святковий кактус
Name[x-test]=xxHoliday Cactusxx
Name[zh_CN]=仙人掌的节日
Name[zh_TW]=Holiday Cactus

X-KDE-PluginInfo-Name=Holiday_Cactus
X-KDE-PluginInfo-Author=Sebastian Schubert
X-KDE-PluginInfo-Email=schubert.seb@googlemail.com
X-KDE-PluginInfo-License=LGPLv3
