[Desktop Entry]
Name=Hanami
Name[ar]=هانامي
Name[ast]=Hanami
Name[bs]=Hanami
Name[ca]=Hanami
Name[ca@valencia]=Hanami
Name[cs]=Hanami
Name[da]=Hanami
Name[de]=Hanami
Name[el]=Hanami
Name[en_GB]=Hanami
Name[es]=Hanami
Name[et]=Hanami
Name[eu]=Loreak ikusi (Hanami)
Name[fa]=هانامی
Name[fi]=Hanami
Name[fr]=Hanami
Name[ga]=Hanami
Name[gl]=Hanami
Name[hu]=Hanami
Name[is]=Hanami
Name[it]=Hanami
Name[kk]=Ханами
Name[km]=Hanami
Name[ko]=벚꽃
Name[lt]=Hanami
Name[mr]=हनामी
Name[nb]=Hanami
Name[nds]=Hanami
Name[nl]=Hanami
Name[nn]=Hanami
Name[pl]=Hanami
Name[pt]=Hanami
Name[pt_BR]=Hanami
Name[ro]=Hanami
Name[ru]=Ханами
Name[sk]=Hanami
Name[sl]=Hanami
Name[sr]=Ханами
Name[sr@ijekavian]=Ханами
Name[sr@ijekavianlatin]=Hanami
Name[sr@latin]=Hanami
Name[tr]=Hanami
Name[ug]=ساليوت
Name[uk]=Ханамі
Name[x-test]=xxHanamixx
Name[zh_CN]=樱花
X-KDE-PluginInfo-Name=Hanami
X-KDE-PluginInfo-Author=Alexandre Courbot
X-KDE-PluginInfo-Email=gnurou@gmail.com
X-KDE-PluginInfo-License=LGPLv3
