[Desktop Entry]
Name=Quadros
Name[bs]=Kvadros
Name[ca]=Quadros
Name[ca@valencia]=Quadros
Name[cs]=Quadros
Name[da]=Quadros
Name[de]=Quadrate
Name[en_GB]=Quadros
Name[es]=Quadros
Name[et]=Quadros
Name[fi]=Quadros
Name[fr]=Quadros
Name[ga]=Quadros
Name[gl]=Cadros
Name[hu]=Quadros
Name[it]=Quadri
Name[kk]=Квадрос
Name[ko]=쿼드로
Name[lt]=Quadros
Name[lv]=Kvadra
Name[nb]=Quadros
Name[nds]=Quadros
Name[nl]=Quadros
Name[pl]=Quadros
Name[pt]=Quadros
Name[pt_BR]=Quadros
Name[ru]=Квадратос
Name[sk]=Quadros
Name[sl]=Quadros
Name[sr]=Квадрос
Name[sr@ijekavian]=Квадрос
Name[sr@ijekavianlatin]=Kvadros
Name[sr@latin]=Kvadros
Name[sv]=Quadros
Name[tr]=Dörtgenler
Name[uk]=Квадрос
Name[x-test]=xxQuadrosxx
Name[zh_CN]=四边型
Name[zh_TW]=Quadros

X-KDE-PluginInfo-Name=Quadros
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
