[Desktop Entry]
Name=Skeeter Hawk
Name[ast]=Halcón mosquiteru
Name[bg]=Водно конче
Name[bs]=Skejter Hawk
Name[ca]=Libèl·lula
Name[ca@valencia]=Libèl·lula
Name[cs]=Skeeter Hawk
Name[da]=Skeeter Hawk
Name[de]=Die Libelle
Name[el]=Λιβελλούλη
Name[en_GB]=Skeeter Hawk
Name[es]=Halcón mosquito
Name[et]=Liuglev haugas
Name[eu]=Sorginorratz
Name[fi]=Sudenkorento
Name[fr]=Cousin
Name[ga]=Skeeter Hawk
Name[gl]=Tiro ao prato
Name[hu]=Skeeter Hawk
Name[is]=Haukur brettanörd
Name[it]=Libellula
Name[ja]=トンボ
Name[kk]=Сұнқар шабуы
Name[ko]=스키터 매
Name[lt]=Laumžirgis
Name[lv]=Spāre
Name[mk]=Ловот на мушичката
Name[nb]=Øyenstikker
Name[nds]=Speckfreter
Name[nl]=Skeeter Hawk
Name[nn]=Augestikkar
Name[pl]=Ważka
Name[pt]=Falcão Peregrino
Name[pt_BR]=Libélula
Name[ru]=Стрекоза
Name[sk]=Skeeter Hawk
Name[sl]=Kačji pastir
Name[sq]=Skeeter Hawk
Name[sr]=Комар‑соко
Name[sr@ijekavian]=Комар‑соко
Name[sr@ijekavianlatin]=Komar‑soko
Name[sr@latin]=Komar‑soko
Name[sv]=Hökinsekt
Name[tr]=Yusufçuk
Name[uk]=Ширяючий яструб
Name[x-test]=xxSkeeter Hawkxx
Name[zh_CN]=猎蚊
Name[zh_TW]=遨翔飛鷹
X-KDE-PluginInfo-Name=Skeeter_Hawk
X-KDE-PluginInfo-Author=Tracy Sprader
X-KDE-PluginInfo-Email=tsprader@gmail.com
X-KDE-PluginInfo-License=LGPLv3
