[Desktop Entry]
Name=Ariya
Name[ast]=Ariya
Name[bs]=Arija
Name[ca]=Ariya
Name[ca@valencia]=Ariya
Name[cs]=Ariya
Name[da]=Ariya
Name[de]=Ariya
Name[el]=Ariya
Name[en_GB]=Ariya
Name[es]=Ariya
Name[et]=Ariya
Name[eu]=Ariya
Name[fa]=آریا
Name[fi]=Ariya
Name[fr]=Ariya
Name[ga]=Ariya
Name[gl]=Ariya
Name[hu]=Ariya
Name[is]=Ariya
Name[it]=Ariya
Name[kk]=Ария
Name[km]=Ariya
Name[ko]=아리야
Name[lt]=Ariya
Name[mr]=आरिया
Name[nb]=Ariya
Name[nds]=Ariya
Name[nl]=Ariya
Name[nn]=Ariya
Name[pl]=Ariya
Name[pt]=Ariya
Name[pt_BR]=Ariya
Name[ro]=Ariya
Name[ru]=Ария
Name[sk]=Ariya
Name[sl]=Ariya
Name[sr]=Арија
Name[sr@ijekavian]=Арија
Name[sr@ijekavianlatin]=Arija
Name[sr@latin]=Arija
Name[tr]=Ariya
Name[uk]=Арія
Name[x-test]=xxAriyaxx
Name[zh_CN]=Ariya

X-KDE-PluginInfo-Name=Ariya
X-KDE-PluginInfo-Author=Eshat Cakar
X-KDE-PluginInfo-Email=info@eshat.de
X-KDE-PluginInfo-License=LGPLv3
