[Desktop Entry]
Name=Green Concentration
Name[ast]=Concentración verde
Name[bg]=Зелена концентрация
Name[bs]=Koncentracija zelene
Name[ca]=Concentració verda
Name[ca@valencia]=Concentració verda
Name[cs]=Zelená koncentrace
Name[da]=Green Concentration
Name[de]=Grün in Grün
Name[el]=Green Concentration
Name[en_GB]=Green Concentration
Name[es]=Concentración verde
Name[et]=Rohemass
Name[eu]=Konzentrazio berdea
Name[fi]=Vihreän keskittymä
Name[fr]=Concentration de vert
Name[ga]=Green Concentration
Name[gl]=Concentración verde
Name[hu]=Zöldülés
Name[is]=Grænsöfnun
Name[it]=Concentrazione verde
Name[ja]=緑の集積
Name[kk]=Жасыл шоғыры
Name[ko]=녹색
Name[lt]=Žalia koncentracija
Name[lv]=Zaļā koncentrācija
Name[mk]=Зелено концентрирано
Name[nb]=Konsentrert grønt
Name[nds]=Gröön Konzentreren
Name[nl]=Groene concentratie
Name[nn]=Konsentrert grønt
Name[pl]=Zielona koncentracja
Name[pt]=Concentração de Verde
Name[pt_BR]=Concentração verde
Name[ro]=Concentrare verde
Name[ru]=Лист
Name[sk]=Zelená koncentrácia
Name[sl]=Zelena koncentracija
Name[sq]=Green Concentration
Name[sr]=Зелени густиш
Name[sr@ijekavian]=Зелени густиш
Name[sr@ijekavianlatin]=Zeleni gustiš
Name[sr@latin]=Zeleni gustiš
Name[sv]=Grön koncentration
Name[tr]=Yeşil Yoğunlaşma
Name[uk]=Концентрація зеленого
Name[x-test]=xxGreen Concentrationxx
Name[zh_CN]=浓绿
Name[zh_TW]=Green Concentration
X-KDE-PluginInfo-Name=Green_Concentration
X-KDE-PluginInfo-Author=Joseph Connors
X-KDE-PluginInfo-Email=josephconnors@usa.net
X-KDE-PluginInfo-License=LGPLv3
