[Desktop Entry]
Name=Ladybuggin
Name[ast]=Ladybuggin
Name[bg]=Калинки
Name[bs]=Bubamara
Name[ca]=Marieta
Name[ca@valencia]=Marieta
Name[cs]=Beruška
Name[da]=Ladybuggin
Name[de]=Marienkäfer
Name[el]=Ladybuggin
Name[en_GB]=Ladybuggin
Name[es]=Mariquita
Name[et]=Ladybuggin
Name[eu]=Amona mantangorria
Name[fi]=Leppäkerttuilu
Name[fr]=Miss Coccinelle
Name[ga]=Ladybuggin
Name[gl]=Xoaniña
Name[hu]=Katica
Name[it]=Coccinellando
Name[kk]=Қызыл қоңыз
Name[ko]=무당벌레
Name[lt]=Boružė
Name[lv]=Vaboles kundze
Name[nb]=Marihøna
Name[nds]=Sünnküken
Name[nl]=Lieveheersbeestje
Name[nn]=Marihøne
Name[pl]=Biedronka
Name[pt]=Joaninha
Name[pt_BR]=Joaninha
Name[ru]=Божья коровка
Name[sk]=Ladybuggin
Name[sl]=Pikapolonica
Name[sq]=Ladybuggin
Name[sr]=Бубамара
Name[sr@ijekavian]=Бубамара
Name[sr@ijekavianlatin]=Bubamara
Name[sr@latin]=Bubamara
Name[sv]=Nyckelpigan
Name[tr]=Uğur Böceği
Name[uk]=Божі корівки
Name[x-test]=xxLadybugginxx
Name[zh_CN]=瓢虫
Name[zh_TW]=Ladybuggin
X-KDE-PluginInfo-Name=Ladybuggin
X-KDE-PluginInfo-Author=Rick Hanley
X-KDE-PluginInfo-Email=rhanley002@aol.com
X-KDE-PluginInfo-License=LGPLv3
