[Desktop Entry]
Name=Winter Track
Name[ast]=Camín d'iviernu
Name[bg]=Зимна следа
Name[bs]=Zimski trag
Name[ca]=Camí d'hivern
Name[ca@valencia]=Camí d'hivern
Name[cs]=Zimní stopa
Name[da]=Winter Track
Name[de]=Winterspur
Name[el]=Winter Track
Name[en_GB]=Winter Track
Name[es]=Camino en invierno
Name[et]=Talitee
Name[eu]=Bidezidorra neguan
Name[fi]=Talviura
Name[fr]=Piste d'hiver
Name[ga]=Winter Track
Name[gl]=Pista no inverno
Name[hu]=Téli táj
Name[is]=Vetrarslóð
Name[it]=Sentiero invernale
Name[kk]=Қыстағы соқпақ
Name[ko]=겨울 트랙
Name[lt]=Žiemos kelias
Name[lv]=Ziemas taka
Name[nb]=Vinterspor
Name[nds]=Winterspoor
Name[nl]=Winterspoor
Name[nn]=Vinterspor
Name[pl]=Zimowa trakt
Name[pt]=Trilho no Inverno
Name[pt_BR]=Trilha de inverno
Name[ru]=Снежная тропа
Name[sk]=Zimná stopa
Name[sl]=Zimska steza
Name[sq]=Winter Track
Name[sr]=Стаза у снегу
Name[sr@ijekavian]=Стаза у снијегу
Name[sr@ijekavianlatin]=Staza u snijegu
Name[sr@latin]=Staza u snegu
Name[sv]=Vinterspår
Name[tr]=Kış Rayı
Name[uk]=Зимова дорога
Name[x-test]=xxWinter Trackxx
Name[zh_CN]=冬季轨道
Name[zh_TW]=冬季的腳步

X-KDE-PluginInfo-Name=Winter_Track
X-KDE-PluginInfo-Author=Reneato Zanotti
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL
