[Desktop Entry]
Name=Fog on the West Lake
Name[ar]=ضباب على البحيرة الغربيّة
Name[ast]=Borrina en West Lake
Name[bs]=Magla na zapadnom jezeru
Name[ca]=Boira en el llac West
Name[ca@valencia]=Boira en el llac West
Name[cs]=Mlha na Západním jezeře
Name[da]=Tåge på West Lake
Name[de]=Nebel auf dem Westsee
Name[el]=Fog on the West Lake
Name[en_GB]=Fog on the West Lake
Name[es]=Niebla en el lago Oeste
Name[et]=Udu West Lake'il
Name[eu]=Behe-lainoa mendebaldeko aintziran (Fog on the West Lake)
Name[fa]=مه آلودگی روی برکه‌ی غربی
Name[fi]=Sumua West Lakella
Name[fr]=Brouillard sur le lac ouest
Name[ga]=Fog on the West Lake
Name[gl]=Néboa no lago oeste
Name[hu]=Köd a Nyugati-tó felett
Name[is]=Þoka við Vesturvötn
Name[it]=Nebbia sul Lago dell'Ovest
Name[kk]=Уест-лейк тұманы
Name[km]=Fog on the West Lake
Name[ko]=서쪽 호수의 안개
Name[lt]=Rūkas Vakarų ežere
Name[mr]=पश्चिम तळ्यावरील धुके
Name[nb]=Tåke over Xihu
Name[nds]=Nevel över'n Westsee
Name[nl]=Mist op het West Lake
Name[nn]=Tåke over Xihu
Name[pl]=Mgła na jeziorze zachodnim
Name[pt]=Nevoeiro no Lago
Name[pt_BR]=Nevoeiro no Lago
Name[ro]=Ceață pe lacul de vest
Name[ru]=Туман на западном озере
Name[sk]=Hmla na západnom jazere
Name[sl]=Megla na zahodnem jezeru
Name[sr]=Магла на Западном језеру
Name[sr@ijekavian]=Магла на Западном језеру
Name[sr@ijekavianlatin]=Magla na Zapadnom jezeru
Name[sr@latin]=Magla na Zapadnom jezeru
Name[tr]=Batı Gölünde Sis
Name[uk]=Туман на західному озері
Name[x-test]=xxFog on the West Lakexx
Name[zh_CN]=西湖之雾

X-KDE-PluginInfo-Name=Fog_on_the_West_Lake
X-KDE-PluginInfo-Author=Vimac
X-KDE-PluginInfo-Email=vifix.mac@gmail.com
X-KDE-PluginInfo-License=LGPLv3
