[Desktop Entry]
Name=Grass
Name[ar]=العشب
Name[ast]=Grass
Name[bs]=Trava
Name[ca]=Gespa
Name[ca@valencia]=Gespa
Name[cs]=Tráva
Name[da]=Græs
Name[de]=Gras
Name[el]=Grass
Name[en_GB]=Grass
Name[es]=Hierba
Name[et]=Rohi
Name[eu]=Belarra (Grass)
Name[fa]=چمن
Name[fi]=Ruoho
Name[fr]=Herbe
Name[ga]=Grass
Name[gl]=Herba
Name[hu]=Fűszálak
Name[is]=Gras
Name[it]=Erba
Name[kk]=Шөп
Name[km]=Grass
Name[ko]=풀밭
Name[lt]=Žolė
Name[mr]=गवत
Name[nb]=Gress
Name[nds]=Gras
Name[nl]=Gras
Name[nn]=Gras
Name[pl]=Trawa
Name[pt]=Relva
Name[pt_BR]=Gramado
Name[ro]=Iarbă
Name[ru]=Трава
Name[sk]=Tráva
Name[sl]=Trava
Name[sr]=Трава
Name[sr@ijekavian]=Трава
Name[sr@ijekavianlatin]=Trava
Name[sr@latin]=Trava
Name[tr]=Çim
Name[ug]=ئوت-چۆپ
Name[uk]=Трава
Name[x-test]=xxGrassxx
Name[zh_CN]=草地

X-KDE-PluginInfo-Name=Grass
X-KDE-PluginInfo-Author=Risto Saukonpää
X-KDE-PluginInfo-Email=risto@saukonpaa.com
X-KDE-PluginInfo-License=LGPLv3
