[Desktop Entry]
Name=Code Poets Dream
Name[bs]=Šifra pjesničkog sna
Name[ca]=Somni dels poetes de codi
Name[ca@valencia]=Somni dels poetes de codi
Name[cs]=Sen básníka kódu
Name[da]=Code Poets Dream
Name[de]=Herbsttraum
Name[el]=Code Poets Dream
Name[en_GB]=Code Poets Dream
Name[eo]=Kodo pri kiu poetoj sonĝas
Name[es]=El sueño de los poetas del código
Name[et]=Koodipoeedi unistus
Name[eu]=Kode olerkarien ametsa
Name[fi]=Code Poetin unelma
Name[fr]=Le rêve du poète codeur
Name[ga]=Code Poets Dream
Name[gl]=O soño dos poetas do código
Name[hu]=Kódköltők álma
Name[it]=Sogno dei poeti del codice
Name[kk]=Код ақынның қиялы
Name[ko]=코드 시인의 꿈
Name[lt]=Code Poets Dream
Name[lv]=Koda dzejnieku sapnis
Name[nb]=Kodepoetens drøm
Name[nds]=Kodeschriever sien Droom
Name[nl]=Code Poets Dream
Name[nn]=Kodepoetens draum
Name[pl]=Sen poetów kodu
Name[pt]=Sonho dos Poetas de Código
Name[pt_BR]=Sonho do poeta do código
Name[ru]=Мечта поэта
Name[sk]=Sen básnika kódu
Name[sl]=Sanje kodnega pesnika
Name[sr]=Кодопесников санак
Name[sr@ijekavian]=Кодопесников санак
Name[sr@ijekavianlatin]=Kodopesnikov sanak
Name[sr@latin]=Kodopesnikov sanak
Name[sv]=Kodpoetens dröm
Name[tr]=Kod Şairinin Rüyası
Name[uk]=Мрія поетів коду
Name[x-test]=xxCode Poets Dreamxx
Name[zh_CN]=代码诗人之梦
Name[zh_TW]=Code Poets Dream
X-KDE-PluginInfo-Name=Code_Poets_Dream
X-KDE-PluginInfo-Author=Code Poet
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
