[Desktop Entry]
Name=The Rings of Saturn
Name[bg]=Пръстените на Сатурн
Name[bs]=Prstenovi oko Saturna
Name[ca]=Els anells de Saturn
Name[ca@valencia]=Els anells de Saturn
Name[cs]=Prstence Saturnu
Name[da]=The Rings of Saturn
Name[de]=Die Ringe des Saturn
Name[el]=The Rings of Saturn
Name[en_GB]=The Rings of Saturn
Name[es]=Los anillos de Saturno
Name[et]=Saturni rõngad
Name[eu]=Saturnoren eraztunak
Name[fi]=Saturnuksen renkaat
Name[fr]=Les anneaux de Saturne
Name[ga]=The Rings of Saturn
Name[gl]=Os aneis de Saturno
Name[hu]=A Szaturnusz gyűrűi
Name[it]=Gli anelli di Saturno
Name[kk]=Қоңырқайдың сақиналары
Name[ko]=토성 고리
Name[lt]=Saturno žiedai
Name[lv]=Saturna gredzeni
Name[nb]=Saturns ringer
Name[nds]=Den Saturn sien Krinken
Name[nl]=De ringen van Saturnus
Name[nn]=Saturnringar
Name[pl]=Pierścienie Saturna
Name[pt]=Os Anéis de Saturno
Name[pt_BR]=Anéis de Saturno
Name[ru]=Кольца Сатурна
Name[sk]=Saturnove prstence
Name[sl]=Saturnovi prstani
Name[sr]=Прстенови Сатурна
Name[sr@ijekavian]=Прстенови Сатурна
Name[sr@ijekavianlatin]=Prstenovi Saturna
Name[sr@latin]=Prstenovi Saturna
Name[sv]=Saturnus ringar
Name[tr]=Saturn Halkası
Name[uk]=Кільця Сатурна
Name[x-test]=xxThe Rings of Saturnxx
Name[zh_CN]=土星环
Name[zh_TW]=土星之環

X-KDE-PluginInfo-Name=The_Rings_of_Saturn
X-KDE-PluginInfo-Author=Zoltan Vass
X-KDE-PluginInfo-Email=loksi67@hotmail.com
X-KDE-PluginInfo-License=LGPLv3
